<!DOCTYPE html>
<html>
<head>
	<title>Email de Boas-Vindas</title>

</head>
<body>
	<p>Olá {{ nome }},</p>
	<p>Segue nossos Dashboards.</p>
	<p>Você está recebendo em exclusividade os dashboards Agro e Pecuária da Safegold BI.</p>
	<p>Para acessar o seu dashboard, basta clicar nos botões abaixo e conhecer mais sobre as nossas soluções em Business Intelligence pensadas exclusivamente para o agronegócio brasileiro.</p>
	<p><a href="{{ url_agro }}"><button>Dashboard Agro</button></a></p>
	<p><a href="{{ url_pecuaria }}"><button>Dashboard Pecuária</button></a></p>
	<p>Gostou? Entre em contato agora mesmo e converse com nosso time de especialistas.</p>
	<p>Contato: +55 41 98841-2253</p>
	<p>Safegold BI.</p>
	<p>BI por quem entende de gestão, para quem entende de agronegócio.</p>
</body>
</html>  

